// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "Inputzone";
@import "FilterZone";
@import "Product";
@import "Navbar";
@import "DungeonsGrinder";
@import "DungeonProduct";

.App {

	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #282828;

	&__content {
		width: calc(100% - 16px);
		height: 100%;
		margin: 3em auto 0 auto;
		background-color: #efefef;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		padding: 8px;
		overflow: auto;
		display: grid;
		grid-template-rows: 80px 1fr;
		grid-row-gap: 16px;
	}

	&__product {

	}

	&__products-list {
		border-radius: 12px;

		.Product {
			margin: 8px 0;

			&__field {
				margin: 0 8px;
			}
		}
	}
}
