.DungeonsGrinder {
	height: calc(100vh - 16px);
	width: 70vw;
	min-width: 500px;
	padding: 8px;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-column-gap: 32px;

	&__list, &__details {
		background-color: white;
		margin-top: 3em;
		padding: 8px;
		border-radius: 8px;
	}

	&__list {
		&-dungeon {
			padding: 16px;
			height: 80px;
			margin: 8px 0;
			border-bottom: solid;
			cursor: pointer;
		}
	}

	&__title {
		font-size: 2em;
	}

	&__average {
		font-size: 1.5em;
		font-weight: 600;
		margin: 0 16px;
	}

	&__products-list {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__products-actions {
		.DungeonsGrinder__product-input-row {
			margin: 4px 0;
			font-size: 1.25em;
			cursor: pointer;
		}
	}

	&__input {
		margin: 0 4px;
	}

	&__global-actions {
		font-size: 1.25em;
		margin: 8px 0;
		border-bottom: 2px #a4a4a4 solid;
		padding: 8px;
	}

	&__indicator {
		margin: 0 4px;

		&--positive {
			color: forestgreen;
		}

		&--negative {
			color: darkorange;
		}
	}
}
