.Product {
	display: grid;
	grid-template-columns: 120px 80px 80px 80px 32px 32px 32px 32px;
	grid-column-gap: 8px;

	&__field {
		text-align: start;
		cursor: pointer;
	}

	&__character {
		width: 80px;
	}
}
